<%= form_tag(social_keys_path, method: 'post',  class: 'form-horizontal' ) do |f| %>
    <% ['OFFICE365', 'GOOGLE', 'FACEBOOK', 'LINKEDIN', 'TWITTER'].each do |provider| %>
        <fieldset>
          <legend><%= provider %> </legend>
          <div class="row">
            <div class="form-group">
              <%= label_tag provider.downcase, "#{provider} KEY", class: 'col-md-2 control-label', title: provider %>
              <div class="col-md-9">
                <%= text_field_tag "#{provider.downcase}[key]", Setting["#{provider}_KEY"] , {class: 'form-control'} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <%= label_tag provider.downcase, "#{provider} SECRET", class: 'col-md-2 control-label', title: provider %>
              <div class="col-md-9">
                <%= text_field_tag "#{provider.downcase}[secret]", Setting["#{provider}_SECRET"] , {class: 'form-control'} %>
              </div>
            </div>
          </div>
        </fieldset>
    <% end %>

    <div class="form-group margin-top-10" >
      <div class="col-xs-12">
        <%= submit_tag "Save", class: 'btn btn-success pull-right' %>
      </div>
    </div>

<% end %>