<div class="social-media-icons">
  <%= link_to '/users/auth/google_oauth2' do %>
    <%= image_tag '/images/icon-gplus.jpg' %>
  <% end %>
  <%= link_to '/users/auth/facebook' do %>
    <%= image_tag '/images/icon-facebook.jpg' %>
  <% end %>
  <%= link_to '/users/auth/twitter' do %>
    <%= image_tag '/images/icon-twitter.jpg' %>
  <% end %>
  <%= link_to '/users/auth/linkedin' do %>
    <%= image_tag '/images/icon-linkedin.jpg' %>
  <% end %>
  <%= link_to '/users/auth/office365' do %>
    <%= image_tag '/images/icon-windows.jpg' %>
  <% end %>
</div>